---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/glean/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1397272430'
      Etag:
      - '"0680a8c15427415f4a97f364a699b86a"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: UTF-8
      string: '[{"id":6712371,"name":"us-states","full_name":"glean/us-states","owner":{"login":"glean","id":3629227,"avatar_url":"https://avatars.githubusercontent.com/u/3629227?","gravatar_id":"00ac6d7c431b4f55d3b80f4fae10b3c3","url":"https://api.github.com/users/glean","html_url":"https://github.com/glean","followers_url":"https://api.github.com/users/glean/followers","following_url":"https://api.github.com/users/glean/following{/other_user}","gists_url":"https://api.github.com/users/glean/gists{/gist_id}","starred_url":"https://api.github.com/users/glean/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/glean/subscriptions","organizations_url":"https://api.github.com/users/glean/orgs","repos_url":"https://api.github.com/users/glean/repos","events_url":"https://api.github.com/users/glean/events{/privacy}","received_events_url":"https://api.github.com/users/glean/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/glean/us-states","description":"The
        United States of America","fork":false,"url":"https://api.github.com/repos/glean/us-states","forks_url":"https://api.github.com/repos/glean/us-states/forks","keys_url":"https://api.github.com/repos/glean/us-states/keys{/key_id}","collaborators_url":"https://api.github.com/repos/glean/us-states/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/glean/us-states/teams","hooks_url":"https://api.github.com/repos/glean/us-states/hooks","issue_events_url":"https://api.github.com/repos/glean/us-states/issues/events{/number}","events_url":"https://api.github.com/repos/glean/us-states/events","assignees_url":"https://api.github.com/repos/glean/us-states/assignees{/user}","branches_url":"https://api.github.com/repos/glean/us-states/branches{/branch}","tags_url":"https://api.github.com/repos/glean/us-states/tags","blobs_url":"https://api.github.com/repos/glean/us-states/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/glean/us-states/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/glean/us-states/git/refs{/sha}","trees_url":"https://api.github.com/repos/glean/us-states/git/trees{/sha}","statuses_url":"https://api.github.com/repos/glean/us-states/statuses/{sha}","languages_url":"https://api.github.com/repos/glean/us-states/languages","stargazers_url":"https://api.github.com/repos/glean/us-states/stargazers","contributors_url":"https://api.github.com/repos/glean/us-states/contributors","subscribers_url":"https://api.github.com/repos/glean/us-states/subscribers","subscription_url":"https://api.github.com/repos/glean/us-states/subscription","commits_url":"https://api.github.com/repos/glean/us-states/commits{/sha}","git_commits_url":"https://api.github.com/repos/glean/us-states/git/commits{/sha}","comments_url":"https://api.github.com/repos/glean/us-states/comments{/number}","issue_comment_url":"https://api.github.com/repos/glean/us-states/issues/comments/{number}","contents_url":"https://api.github.com/repos/glean/us-states/contents/{+path}","compare_url":"https://api.github.com/repos/glean/us-states/compare/{base}...{head}","merges_url":"https://api.github.com/repos/glean/us-states/merges","archive_url":"https://api.github.com/repos/glean/us-states/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/glean/us-states/downloads","issues_url":"https://api.github.com/repos/glean/us-states/issues{/number}","pulls_url":"https://api.github.com/repos/glean/us-states/pulls{/number}","milestones_url":"https://api.github.com/repos/glean/us-states/milestones{/number}","notifications_url":"https://api.github.com/repos/glean/us-states/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/glean/us-states/labels{/name}","releases_url":"https://api.github.com/repos/glean/us-states/releases{/id}","created_at":"2012-11-15T21:54:25Z","updated_at":"2014-02-06T06:46:31Z","pushed_at":"2013-03-25T23:16:46Z","git_url":"git://github.com/glean/us-states.git","ssh_url":"git@github.com:glean/us-states.git","clone_url":"https://github.com/glean/us-states.git","svn_url":"https://github.com/glean/us-states","homepage":"","size":194,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":1,"default_branch":"master","master_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":8274086,"name":"countries","full_name":"glean/countries","owner":{"login":"glean","id":3629227,"avatar_url":"https://avatars.githubusercontent.com/u/3629227?","gravatar_id":"00ac6d7c431b4f55d3b80f4fae10b3c3","url":"https://api.github.com/users/glean","html_url":"https://github.com/glean","followers_url":"https://api.github.com/users/glean/followers","following_url":"https://api.github.com/users/glean/following{/other_user}","gists_url":"https://api.github.com/users/glean/gists{/gist[...]
